* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comic Neue', 'Nunito Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

button {
  border-radius: 50px;
  font-family: 'Comic Neue', 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
    opacity: 0.45;
  }
}

input,
textarea,
select {
  -webkit-text-size-adjust: 100%;
  font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
