* {
  box-sizing: border-box;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 50px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
    opacity: 0.45;
  }
}

input,
textarea,
select {
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
